<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | absolute_url }}">
  <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" type="text/css" href="css/modern-blog.css"/>
  
  <style>
    {% include critical/critical.css %}
  </style>
  
  <script>
    if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
      var root = document.getElementsByTagName('html')[0];
      root.setAttribute('class', 'ff');
    }
  </script>
</head>

<body class="body {{ page.body }} {{ page.layout }}">
  <div id="css-support-msg"></div>
  <div class="pattern pattern--hidden"></div>
