{% if site.layout.boxed == true %}
<div class="wrapper">
{% endif %}
  <div class="top-wrapper">
  <div class="pattern pattern--hidden"></div>
<header class="bg-primary" id="main_nav">
  <!-- <div class="diag hero-diag"></div> -->
  <div class="container-fluid">
    <div class="row row-middle">
      <div class="col-auto">
        <a href="{{ '/' | absolute_url }}" class="d-block lh-none">
          <picture class="d-block lh-none nav-logo ">
            <source srcset="{{ site.publisher_data.logo_2x || absolute_url  }} 2x, {{ site.logo || absolute_url  }} 1x" />
            <img src="{{ site.logo || absolute_url  }}" alt="{{ site.title }} logo" width="{{ site.publisher_data.logo_width }}" height="{{ site.publisher_data.logo_height }}" />
          </picture>
        </a>
      </div>
    </div>
  </div>
</header>
