//
// TEXT
//
.tc-body{
  color: $c-body_bg;
}
.tc-main {
  color: $c-main_bg;
}
.tc-text {
  color: $c-text;
}
.tc-link {
  color: $c-link;
}

//
// BACKGROUNDS
//
.bg-body {
  background-color: $c-body_bg;
}
.bg-main {
  background-color: $c-main_bg;
}
.bg-text {
  background-color: $c-text;
}
.bg-link {
  background-color: $c-link;
}
